header {
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: antiquewhite;

}


.daily-workout-summary {
    margin: 0;
    border: solid 1px;
}


.new-workout {
    display:flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: solid 1px;
}


.past-workout-logs {
    margin: 0;
    border: solid 1px;
}